<div fxLayout="column" fxLayoutGap="24px" @fadeInAnimation>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <i-feather class="icon" name="briefcase"></i-feather>
      <span class="title">{{organization.name}}</span>
    </div>
  </div>

  <span>{{organization.description}}</span>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>Code</span>
    <span class="badge primary">{{organization.code}}</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="organization.parentId">
    <span>Parent</span>
    <span class="badge dark">{{organization.parentId}}</span>
  </div>
</div>
