@import 'src/styles/variables';

.select-input {
  position: relative;

  .label {
    .name {
      color: $color-dark;
      font-size: 14px;
      font-weight: 600;
    }

    .description {
      color: $color-light;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .form {
    position: relative;

    width: 100%;
    margin-bottom: 0 !important;

    border: $border;
    border-radius: $radius-standard;

    box-shadow: none;

    transition: filter 0.2s ease-in-out;

    &.active:hover {
      filter: none !important;
    }

    &:hover {
      filter: drop-shadow(0 0 2px rgba($primary, 0.75));
    }

    &.active {
      filter: drop-shadow(0 0 2px rgba($primary, 1));
    }

    &.invalid {
      filter: drop-shadow(0 0 2px rgba($pink, 0.75));
    }

    .select {
      height: 40px;
      width: 100%;
      padding: 4px 16px;

      border-radius: $radius-standard;
      border: none;

      box-sizing: border-box;

      font-size: 14px;
      color: $color-dark;
      background: $background-container;

      &:hover {
        cursor: pointer;
      }

      .value {
        position: absolute;

        top: 12px;
        left: 20px;
      }
    }

    .placeholder {
      position: absolute;

      top: 14px;
      left: 20px;

      font-size: 12px;
      color: $color-dark;

      cursor: pointer;
    }

    .icon {
      position: absolute;
      z-index: 100;

      top: 12px;
      right: 12px;
      width: 16px;

      color: $color-light;

      transition: all 0.2s ease-in-out;

      &.active {
        top: 8px;
        right: 8px;
        transform: rotate(-90deg);
      }

      &.action {
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          top: 10px;
          right: 10px;
          width: 20px;
        }
      }
    }
  }

  .select-options {
    top: 67px;
    left: 0;

    padding: 4px;

    box-sizing: border-box;
    position: absolute;

    z-index: 100;

    max-height: 256px;
    overflow-y: auto;

    background: $background-container;

    border: $border;
    border-radius: $radius-standard;

    .option {
      height: 20px;
      padding: 8px;

      color: $color-dark;
      border-radius: $radius-standard;

      transition: background-color 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        background: $background-page;
      }

      &.empty {
        font-size: 14px;
        color: $color-light;
      }
    }
  }
}
