<div class="sidebar-container" fxLayout="column" fxLayoutAlign="space-between center">

  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="64px">
    <i-feather class="logo" name=""></i-feather>

    <div class="sidebar-navigation-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="4px">
      <ng-container *ngFor="let navigationLink of navigationLinks">
        <cas-sidebar-link [navigationLink]="navigationLink"></cas-sidebar-link>
      </ng-container>
    </div>
  </div>
</div>
