@import 'src/styles/variables';

.sidebar-container {
  background: $background-dark;

  width: 108px;
  height: 100vh;

  .logo {
    margin-top: 24px;

    padding: 24px;
    border-radius: 50%;

    height: 24px;
    width: 24px;

    background: $white;
  }
}
