<div class="tile-container" fxLayout="column" fxLayoutGap="24px" @fadeInAnimation>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutGap="16px">
      <span class="title">{{role.name}}</span>
      <span *ngIf="role.description">{{role.description}}</span>
    </div>

    <cas-button [theme]="'dark'" [size]="'small'" [shape]="'circle'" (click)="closeView()">
      <i-feather name="x"></i-feather>
    </cas-button>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>Organization</span>
    <span class="badge dark">{{role.details.organizationCode}}</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>Code</span>
    <span class="badge primary">{{role.code}}</span>
  </div>

  <hr class="dark"/>

  <div fxLayout="column" fxLayoutGap="24px">
    <cas-resource-dates [resource]="role"></cas-resource-dates>

    <hr class="dark" *ngIf="privileges.length > 0"/>

    <div fxLayout="column" fxLayoutGap="8px" *ngIf="privileges.length > 0">
      <span>User privileges</span>

      <div class="nested-privileges-container">
        <ng-container *ngFor="let privilege of privileges">
          <span class="badge dark">{{privilege.code}}</span>
        </ng-container>
      </div>
    </div>

    <hr class="dark"/>

    <cas-button [theme]="'primary'">Show role</cas-button>
  </div>
</div>
