@import 'src/styles/variables';

.toast {
  margin-top: 16px;
  padding: 8px 16px;

  width: 512px;
  height: 32px;

  color: $color-dark;
  border: $border;
  border-radius: $radius-standard;

  .message {
    font-size: 16px;
  }

  &.info {
    color: $cyan-dark;
    border: 1px solid $cyan;
    border-left: 4px solid $cyan-dark;
    background: rgba($cyan, 0.2);
  }

  &.warning {
    color: $violet-dark;
    border: 1px solid $violet;
    border-left: 4px solid $violet-dark;
    background: rgba($violet, 0.2);
  }
}
