@import 'src/styles/variables';

.toast {
  margin: 34px 34px 0 0;
  padding: 16px;

  width: 320px;
  height: 72px;

  color: $white;
  background: $background-darker;
  border-radius: $radius;

  &.info {
    border-left: 8px solid $primary;
    box-shadow: 0 0 8px rgba($primary, 0.5);
  }

  &.warning {
    border-left: 8px solid $pink;
    box-shadow: 0 0 8px rgba($pink, 0.5);
  }

  .title {
    font-size: 18px;
    font-weight: 500;
  }

  .message {
    font-size: 14px;
  }
}
