<div class="user-container" [ngClass]="background"
     fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
    <div class="avatar" fxLayout="column" fxLayoutAlign="center center">
      <i-feather class="icon" name="user"></i-feather>
    </div>

    <div fxLayout="column" fxLayoutGap="4px">
      <span class="name">{{user.firstName}} {{user.lastName}}</span>
      <span class="email">{{user.email}}</span>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <ng-container *ngFor="let role of user.roles">
      <span class="badge role" [ngClass]="background === 'basic' ? 'dark' : 'light'">{{role.name}}</span>
    </ng-container>
  </div>
</div>
