@import 'src/styles/variables';

.toolbar-wrapper {
  background: $white;
  border-bottom: $border;

  padding: 32px;

  .toolbar-container {
    width: 100%;
    max-width: 1440px;

    .navigation-link {
      margin-top: 8px;

      font-weight: 700;
      color: $color-light;

      transition: color 0.2s ease-in-out;

      &:after {
        display: block;
        content: '';

        margin-top: 8px;
        border-bottom: solid 2px $primary-dark;

        transform: scaleX(0);
        transform-origin: 50% 50%;

        transition: transform 0.2s ease-in-out;
      }

      &.active {
        color: $color-dark;

        &:after {
          transform: scaleX(0.3);
        }
      }

      &:hover {
        color: $color-dark;
        cursor: pointer;

        &:after {
          transform: scaleX(0.9);
        }
      }
    }
  }
}
