<div [style.width]="width" class="text-input" fxLayout="column" fxLayoutGap="8px" @fadeInAnimation>

  <div class="label" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="name">{{name + (requiredLabel && isRequired() ? ' *' : '')}}</span>
    <span class="description">{{description}}</span>
  </div>

  <div class="form" [class.invalid]="control.touched && control.invalid" [ngClass]="'theme-' + theme">
    <input [formControl]="control"
           [ngClass]="background"
           [id]="id"
           [name]="name"
           [placeholder]="placeholder"
           [type]="type"/>

    <i-feather *ngIf="control.value" class="icon action" name="x" (click)="clear()" @fadeInAnimation></i-feather>
    <i-feather *ngIf="!control.value" class="icon" [name]="icon" @fadeInAnimation></i-feather>
  </div>
</div>
