<div [style.width]="width" class="text-input" fxLayout="column" @fadeInAnimation>

  <div class="label" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="name">{{name + (requiredLabel && isRequired() ? ' *' : '')}}</span>
    <span class="description">{{description}}</span>
  </div>

  <div class="form" [class.invalid]="control.touched && control.invalid">
    <input [formControl]="control"
           [id]="id"
           [name]="name"
           [placeholder]="placeholder"
           [type]="type"/>

    <ion-icon *ngIf="password" (click)="switchVisibility()" name="eye-outline"
               class="icon password" [class.active]="password && type == 'text'">
    </ion-icon>

    <ion-icon *ngIf="icon && !password" [name]="icon" class="icon"></ion-icon>
  </div>
</div>
