@import 'src/styles/variables';

.user-details {
  background: $white;
  border-radius: $radius-standard;

  padding: 16px;

  .section-name {
    color: $color-light;

    font-size: 10px;
    font-weight: 600;

    text-transform: uppercase;
  }

  .detail-name {
    color: $color-dark;

    font-size: 12px;
    font-weight: 500;
  }
}
