<div class="user-details" fxLayout="column" fxLayoutGap="32px">
  <div fxLayout="column" fxLayoutGap="8px">
    <h5>Audit</h5>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="detail-name">Created at</span>
      <span class="badge default">{{user.createdAt | date: 'dd-MM-YYYY, HH:mm:ss'}}</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="detail-name">Updated at</span>
      <span class="badge default">{{user.updatedAt | date: 'dd-MM-YYYY, HH:mm:ss'}}</span>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="8px">
    <h5>Privileges</h5>
  </div>
</div>
