<button [style.width]="shape == 'rectangle' ? width : 'auto'"
        [ngClass]="'theme-' + theme + ' ' + shape + ' ' + size"
        [class.active]="active"
        [class.icon-left]="shape == 'rectangle' && iconLeft && !iconRight"
        [class.icon-right]="shape == 'rectangle' && iconRight && !iconLeft"
        [class.icon-both]="shape == 'rectangle' && iconLeft && iconRight"
        [disabled]="disabled"
        @fadeInAnimation>
  <div class="content" fxLayout="row" fxLayoutAlign="center center">
    <ng-content></ng-content>
  </div>

  <i-feather *ngIf="iconLeft" class="icon left" [name]="iconLeft"></i-feather>
  <i-feather *ngIf="iconRight" class="icon right" [name]="iconRight"></i-feather>
</button>
