@import 'src/styles/variables';

button {
  position: relative;

  outline: none;
  border: none;

  font-size: 16px;
  font-weight: 600;

  transition: filter 0.2s, background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    color: rgba($white, 0.5);

    .icon {
      color: rgba($white, 0.5);
    }
  }

  .content {
    margin-top: 0;
  }

  .icon {
    position: absolute;

    color: $white;
    width: 20px;

    transition: color 0.2s ease-in-out;

    &.left {
      left: 8px;
    }

    &.right {
      right: 8px;
    }
  }

  /* Shapes and sizes */

  &.rectangle {

    &.small {
      height: 30px;
      padding: 4px 8px;
      border-radius: 8px;

      .icon {
        top: 5px
      }

      &.icon-left {
        padding: 4px 8px 4px 36px;
      }

      &.icon-right {
        padding: 4px 36px 4px 8px;
      }

      &.icon-both {
        padding: 4px 36px;
      }
    }

    &.normal {
      height: 40px;
      padding: 8px 16px;
      border-radius: 12px;

      .icon {
        top: 10px
      }

      &.icon-left {
        padding: 8px 12px 8px 36px;
      }

      &.icon-right {
        padding: 8px 36px 8px 12px;
      }

      &.icon-both {
        padding: 8px 36px;
      }

      .content {
        margin-top: 2px;
      }
    }

    &.big {
      height: 56px;
      padding: 16px 20px;
      border-radius: 16px;

      .icon {
        width: 24px;
        height: 24px;

        top: 16px
      }

      &.icon-left {
        padding: 8px 12px 8px 40px;
      }

      &.icon-right {
        padding: 8px 40px 8px 12px;
      }

      &.icon-both {
        padding: 8px 40px;
      }
    }
  }

  &.circle {
    border-radius: 50%;

    &.small {
      padding: 12px;

      height: 40px !important;
      width: 40px !important;
    }

    &.normal {
      padding: 10px;

      height: 48px !important;
      width: 48px !important;
    }

    &.big {
      padding: 16px;

      height: 64px !important;
      width: 64px !important;

      .content {
        transform: scale(1.2);
      }
    }
  }

  /* Themes */

  &.theme-primary {
    color: $white;
    background: rgba($primary, 1);

    &:hover {
      filter: drop-shadow(0 0 4px rgba($primary, 0.5));
    }

    &:disabled {
      background: rgba($primary, 0.1);

      &:hover {
        filter: drop-shadow(0 0 4px rgba($primary, 0.25));
      }
    }
  }

  &.theme-secondary {
    color: $white;
    background: rgba($secondary, 1);

    &:hover {
      filter: drop-shadow(0 0 4px rgba($secondary, 0.5));
    }

    &:disabled {
      background: rgba($secondary, 0.1);

      &:hover {
        filter: drop-shadow(0 0 4px rgba($secondary, 0.25));
      }
    }
  }

  &.theme-default {
    color: $white;
    background: $background-dark;

    &:hover {
      filter: drop-shadow(0 0 4px rgba($primary, 0.1));
    }

    &:disabled {
      color: rgba($white, 0.5);
      background: rgba($background-dark, 0.5);

      &:hover {
        cursor: default;
        filter: none;
      }
    }

    &.active {
      background: rgba($primary, 0.75);

      &:hover {
        filter: drop-shadow(0 0 4px rgba($primary, 0.25));
      }
    }
  }
}
