<ng-container *ngIf="organizationForm">
  <form [formGroup]="organizationForm" fxLayout="column" fxLayoutGap="16px" @fadeInAnimation>
    <cas-text-input [control]="getControl('name')"
                    [id]="'organization-name'"
                    [name]="'Organization name'"
                    [background]="'inverse'">
    </cas-text-input>

    <cas-text-input [control]="getControl('description')"
                    [id]="'organization-description'"
                    [name]="'Organization description'"
                    [background]="'inverse'">
    </cas-text-input>

    <cas-text-input [control]="getControl('code')"
                    [id]="'organization-organization-code'"
                    [name]="'Organization code'"
                    [background]="'inverse'">
    </cas-text-input>

    <cas-select-input [control]="getControl('parentId')"
                      [options]="organizationOptions"
                      [id]="'filter-organization'"
                      [name]="'Parent'"
                      [background]="'inverse'">
    </cas-select-input>
  </form>
</ng-container>
