@import 'variables.scss';

/*
 * General styles
 */

body {
  margin: 0;
  padding: 0;

  background: $background-dark;
  font-family: 'Montserrat', sans-serif;
}

input, select {
  font-family: 'Montserrat', sans-serif;
}

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

/*
 * Fonts
 */

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

/*
 * Scrollbar
 */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $content-background-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: $background-dark;
  border: 1px solid $content-background-dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($background-dark, 0.75);
}

/*
 * Badge
 */

.badge {
  padding: 4px 16px;
  border-radius: 12px;
  font-weight: 600;

  &.primary {
    background: $primary;
  }

  &.secondary {
    background: $secondary;
  }
}
