@import 'variables.scss';

/*
 * General styles
 */

body {
  margin: 0;
  padding: 0;

  background: $background-page !important;
  font-family: 'Montserrat', sans-serif;

  ::selection {
    color: $white;
    background: $primary-dark;
  }
}

input, select {
  font-family: 'Montserrat', sans-serif;
}

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

/*
 * Fonts
 */

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 28px !important;
  font-weight: 600 !important;
  height: 42px !important;
}

h2 {
  font-size: 20px !important;
  font-weight: 500 !important;
}

h3 {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.color-light {
  color: $color-light;
}

/*
 * Scrollbar
 */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $background-page;
  border: $border;
}

::-webkit-scrollbar-thumb {
  border-radius: $radius-standard;
  background: $background-gray;

  &:hover {
    background: $background-dark;
  }
}

/*
 * Badge
 */

.badge {
  padding: 4px 16px;
  border-radius: $radius-standard;

  font-weight: 600;
  font-size: 12px;
}

.avatar, .badge {
  &.default {
    color: $color-dark;
    background: $default;
  }

  &.cyan {
    color: $cyan-dark;
    background: $cyan;
  }

  &.violet {
    color: $violet-dark;
    background: $violet;
  }

  &.green {
    color: $green-dark;
    background: $green;
  }

  &.orange {
    color: $orange-dark;
    background: $orange;
  }
}

/*
 * Button themes
 */

.button-theme-default {
  color: $color-dark;
  background: $background-gray;

  &:hover {
    filter: drop-shadow(0 0 4px rgba($background-gray, 0.5));
  }

  &:disabled {
    color: $color-dark-disabled;
    background: rgba($background-gray, 0.5);

    &:hover {
      filter: drop-shadow(0 0 4px rgba($background-gray, 0.25));
    }
  }
}

.button-theme-primary {
  color: $primary-dark;
  background: rgba($primary, 1);

  &:hover {
    filter: drop-shadow(0 0 4px rgba($primary, 0.5));
  }

  &:disabled {
    color: $color-dark-disabled;
    background: rgba($primary, 0.5);

    &:hover {
      filter: drop-shadow(0 0 4px rgba($primary, 0.25));
    }
  }
}

.button-theme-secondary {
  color: $secondary-dark;
  background: rgba($secondary, 1);

  &:hover {
    filter: drop-shadow(0 0 4px rgba($secondary, 0.5));
  }

  &:disabled {
    color: $color-dark-disabled;
    background: rgba($secondary, 0.5);

    &:hover {
      filter: drop-shadow(0 0 4px rgba($secondary, 0.25));
    }
  }
}
