/*
 * Colors
 */

/* Palette */

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$orange: rgb(245, 221, 200);
$violet: rgb(214, 200, 255);
$cyan: rgb(126, 222, 235);
$green: rgb(192, 239, 203);

$pink: rgb(245, 61, 116);

$dark-gray: rgb(32, 32, 48);

/* Usages */

$primary: $cyan;
$secondary: $violet;

/* Background */

$background-dark: rgb(36, 37, 45);
$background-darker: rgb(30, 31, 37);
$background-lighter: rgba(51, 52, 59);

/* Radius */

$radius: 10px;
