@import 'src/styles/variables';

.content-container {
  border-radius: 16px;
  transition: background-color 0.2s ease-in-out;

  &.logged {
    margin: 0 24px 24px 0;
    padding: 24px;

    background: $content-background-dark;

    min-height: 512px; // #todo to remove
  }

  &.centered {
    height: 100vh;
  }
}

.centered-content-container {
  height: 100vh;
}
