@import 'src/styles/variables';

.content-wrapper {
  border-radius: $radius;
  transition: background-color 0.2s ease-in-out;

  &.logged {
    margin: 0 24px 24px 0;
    padding: 24px 12px;

    align-items: normal !important;
  }

  &.centered {
    height: 100vh;
  }
}
