@import 'src/styles/variables';

.organizations-container {
  padding: 24px;
  border-radius: 12px;

  color: $white;
  background: $background-dark;

  .icon {
    font-weight: 400;
    letter-spacing: 1px;
  }
}
