@import 'src/styles/variables';

.users-container {
  padding: 24px;
  border-radius: 12px;

  color: $white;
  background: $background-dark;

  .title {
    font-weight: 400;
    letter-spacing: 1px;
  }

  .empty-user-list {
    font-weight: 600;
    font-size: 18px;
  }

  .users-list {
    padding: 12px;
  }
}
