<div class="users-container" fxLayout="column" fxLayoutGap="24px" *ngIf="organization"
     @fadeInAnimation @fadeOutAnimation>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <i-feather class="logo" name="user"></i-feather>
      <h2 class="title">Users from <span class="badge dark">{{organization.name}}</span></h2>
    </div>

    <cas-button [width]="'50px'" [size]="'small'" [theme]="'secondary'">
      <i-feather class="logo" name="plus"></i-feather>
    </cas-button>
  </div>

  <cas-text-input [control]="searchControl"
                  [id]="'filter-search'"
                  [placeholder]="'Search for users...'"
                  [icon]="'search'"
                  [background]="'dark'">
  </cas-text-input>


  <div class="users-list" fxLayout="column" @fadeInAnimation>
  </div>
</div>
