@import 'src/styles/variables';

.statistics-container {
  padding: 12px 16px;
  border-radius: $radius;

  width: auto;

  background-color: $background-darker;
  color: $white;

  .icon {
    color: $dark-gray;

    padding: 24px;
    border-radius: 100%;

    width: 32px;
    height: 32px;

    &.organizations {
      background-color: $cyan;
      filter: drop-shadow(0 4px 8px rgba($cyan, 0.25));
    }

    &.users {
      background-color: $violet;
      filter: drop-shadow(0 4px 8px rgba($violet, 0.25));
    }

    &.roles {
      background-color: $orange;
      filter: drop-shadow(0 4px 8px rgba($orange, 0.25));
    }

    &.privileges {
      background-color: $green;
      filter: drop-shadow(0 4px 8px rgba($green, 0.25));
    }
  }

  .amount {
    font-size: 56px;
    font-weight: 700;
  }

  .title {
    margin-top: 8px;
    font-weight: 300;
  }
}
