@import 'src/styles/variables';

.sidebar-link {
  outline: none;
  width: auto;

  .navigation-link {
    padding: 32px;

    color: rgba($white, 0.65);
    outline: none;

    .text {
      margin-top: 2px;
      margin-left: 4px;

      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;

      transition: 0.2s ease-in-out color;
    }

    .icon {
      height: 24px;
      width: 24px;

      transition: 0.2s ease-in-out filter, color;
    }
  }

  &.active, &:hover {
    cursor: pointer;

    .navigation-link {
      color: $primary;
      filter: drop-shadow(0 0 16px rgba($primary, 0.25));

      .icon {
        filter: drop-shadow(0 0 12px $primary);
      }
    }
  }
}
