@import 'src/styles/variables';

.sidebar-link {
  outline: none;
  width: 108px;

  .border {
    margin-right: 4px;

    content: "";

    width: 4px;
    height: 40px;

    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;

    transition: 0.2s ease-in-out;
  }

  .navigation-link {
    padding: 32px;

    color: rgba($white, 0.65);
    outline: none;

    transition: 0.2s ease-in-out;

    &:hover .icon {
      transform: scale(1.25);
    }

    .text {
      margin-top: 2px;

      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .icon {
      height: 28px;
      width: 28px;

      transition: 0.2s ease-in-out;
    }
  }

  &.active, &:hover {
    cursor: pointer;

    .border {
      background: $primary;
      filter: drop-shadow(0 0 4px rgba($primary, 0.75));
    }

    .navigation-link {
      color: $primary;
      filter: drop-shadow(0 0 16px rgba($primary, 0.25));

      .icon {
        filter: drop-shadow(0 0 12px $primary);
      }
    }
  }
}
