<div fxLayout="column" fxLayoutGap="16px">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <ng-container *ngFor="let organization of user.organizations">
      <div class="user-organization" [class.active]="selectedOrganization?.id == organization.id"
           fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px"
           (click)="selectOrganization(organization.id)">
        <ion-icon [name]="organization.icon"></ion-icon>
        <span>{{organization.name}}</span>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="selectedOrganization">
    <cas-privileges-tree [privileges]="selectedOrganization.privileges"></cas-privileges-tree>
  </ng-container>
</div>
