<div fxLayout="column" fxLayoutGap="8px">
  <div class="list-node-container" [ngClass]="theme" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <div class="icon-container" fxLayout="column" fxLayoutAlign="center center" *ngIf="node.icon">
        <i-feather class="icon" [name]="node.icon"></i-feather>
      </div>

      <div fxLayout="column" fxLayoutGap="4px">
        <span class="label">{{node.label}}</span>
        <span class="description">{{node.description}}</span>
      </div>

      <span class="badge primary" *ngFor="let badge of node.badges">{{badge}}</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
      <cas-button *ngIf="selecting"
                  [theme]="selected ? 'primary' : theme === 'dark' ? 'light' : 'dark'"
                  [shape]="'circle'" [size]="'small'"
                  (click)="switchView()">
        <i-feather name="eye"></i-feather>
      </cas-button>
    </div>
  </div>
</div>
