@import 'src/styles/variables';

.list-node-container {
  border-radius: $radius;
  padding: 8px 16px;

  color: $white;

  overflow: hidden;

  &.light {
    background: $background-dark;
  }

  &.dark {
    background: $background-darker;
  }

  .icon-container {
    border-radius: 50%;

    height: 32px;
    width: 32px;

    margin-top: 4px;

    background: $white;

    .icon {
      color: $background-dark;
      margin-top: 6px;
      width: 16px;
    }
  }

  .label {
    margin-top: 4px;
    font-size: 12px;
  }

  .badge {
    overflow: hidden;
    white-space: nowrap;
  }

  .description, .badge {
    font-size: 10px;
  }
}
