<div class="tile-container" fxLayout="column" fxLayoutGap="24px" @fadeInAnimation>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutGap="8px">
      <span class="title">{{user.firstName}} {{user.lastName}}</span>
      <span>{{user.email}}</span>
    </div>

    <cas-button [theme]="'dark'" [size]="'small'" [shape]="'circle'" (click)="closeView()">
      <i-feather name="x"></i-feather>
    </cas-button>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>Active</span>
    <span class="badge dark">{{user.active ? 'YES' : 'NO'}}</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>Organization</span>
    <span class="badge dark">{{user.details.organizationCode}}</span>
  </div>

  <cas-separator></cas-separator>

  <div fxLayout="column" fxLayoutGap="24px">
    <cas-resource-dates [resource]="user"></cas-resource-dates>

    <cas-separator *ngIf="privileges.length > 0"></cas-separator>

    <div fxLayout="column" fxLayoutGap="8px" *ngIf="privileges.length > 0">
      <span>User privileges</span>

      <div class="nested-privileges-container">
        <ng-container *ngFor="let privilege of privileges">
          <span class="badge dark">{{privilege.code}}</span>
        </ng-container>
      </div>
    </div>

    <cas-separator></cas-separator>

    <cas-button [theme]="'primary'">Show user</cas-button>
  </div>
</div>
