<div fxLayout="column" fxLayoutGap="24px">
  <cas-data-toolbar [searchFormControl]="searchFormControl"
                    [organizationFormControl]="organizationFormControl"
                    [viewFormControl]="viewFormControl">
  </cas-data-toolbar>

  <cas-roles-table *ngIf="viewType === ViewType.TABLE"
                   [data]="data"
                   [requestParam]="requestParam"
                   [refresh]="refresh">
  </cas-roles-table>

  <cas-roles-list *ngIf="viewType === ViewType.LIST"
                   [data]="data"
                   [requestParam]="requestParam"
                   [refresh]="refresh">
  </cas-roles-list>
</div>
