@import 'src/styles/variables';

.tree-branch-container {
  margin-top: 8px;
  padding-left: 24px;
  border-left: 6px solid $background-dark;

  transition: border 0.2s ease-in-out;

  &:hover {
    border-color: rgba($primary, 0.2);
  }
}
