<div fxLayout="column" fxLayoutGap="24px">
  <cas-data-toolbar [searchFormControl]="searchFormControl"
                    [viewFormControl]="viewFormControl">
  </cas-data-toolbar>

  <cas-organizations-table *ngIf="viewType === ViewType.TABLE"
                           [data]="data"
                           [requestParam]="requestParam"
                           [refresh]="refresh">
  </cas-organizations-table>

  <cas-organizations-list *ngIf="viewType === ViewType.LIST"
                          [data]="data"
                          [requestParam]="requestParam"
                          [refresh]="refresh">
  </cas-organizations-list>
</div>
