<div class="tile-container margin" fxLayout="column" fxLayoutGap="24px" @fadeInAnimation>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutGap="8px">
      <span class="title">{{organization.name}}</span>
      <span *ngIf="organization.description">{{organization.description}}</span>
    </div>

    <cas-button [theme]="'dark'" [size]="'small'" [shape]="'circle'" (click)="closeView()">
      <i-feather name="x"></i-feather>
    </cas-button>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>Code</span>
    <span class="badge primary">{{organization.code}}</span>
  </div>

  <hr class="dark"/>

  <div fxLayout="column" fxLayoutGap="24px">
    <cas-resource-dates [resource]="organization"></cas-resource-dates>

    <hr class="dark"/>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>Users</span>
      <span class="badge dark">{{organization.details.users}}</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>Roles</span>
      <span class="badge dark">{{organization.details.roles}}</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>Privileges</span>
      <span class="badge dark">{{organization.details.privileges}}</span>
    </div>

    <hr class="dark"/>

    <cas-button [theme]="'primary'" (click)="showOrganization()">Show organization</cas-button>
  </div>
</div>
