@import 'src/styles/variables';

.users-container {
  padding: 24px;
  border-radius: 12px;

  background: $background-dark;

  .title {
    color: $white;
    font-weight: 400;
    letter-spacing: 1px;
  }
}
