<div fxLayout="column" fxLayoutGap="8px">
  <div class="tree-node-container" fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="theme">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <div fxLayout="column" fxLayoutGap="4px">
        <span class="label">{{node.label}}</span>
        <span class="description">{{node.description}}</span>
      </div>

      <span class="badge primary">{{node.badge}}</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <cas-button *ngIf="selecting"
                  [theme]="selected ? 'primary' : theme === 'dark' ? 'light' : 'dark'"
                  [shape]="'circle'" [size]="'small'"
                  (click)="switchView()">
        <i-feather name="eye"></i-feather>
      </cas-button>

      <cas-button [theme]="expanded ? 'primary' : theme === 'dark' ? 'light' : 'dark'"
                  [shape]="'circle'" [size]="'small'"
                  (click)="expandOrCollapse()"
                  [disabled]="node.children.length < 1">
        <i-feather [name]="expanded ? 'chevrons-up' : 'chevrons-down'"></i-feather>
      </cas-button>
    </div>
  </div>

  <div class="node-children-container" [class.expanded]="expanded" @fadeInAnimation>
    <cas-tree-branch [nodes]="node.children"
                     [itemSelect]="itemSelect"
                     [theme]="theme"
                     [parent]="false"
                     [selecting]="selecting">
    </cas-tree-branch>
  </div>
</div>
