@import 'src/styles/variables';

.tree-node-container {
  border-radius: $radius;
  padding: 4px 12px;

  color: $white;

  &.light {
    background: $background-dark;
  }

  &.dark {
    background: $background-darker;
  }

  .label {
    margin-top: 4px;
    font-size: 12px;
  }

  .description, .badge {
    font-size: 10px;
  }
}

.node-children-container {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s ease-in-out;

  &.expanded {
    max-height: 1024px;
  }
}
