<div class="table-pagination" fxLayout="row" fxLayoutAlign="space-between center">
  <cas-button-rectangle [iconLeft]="'arrow-back-outline'" [size]="'small'" [text]="'Previous'"
                        [disabled]="page < 2" (click)="prevPage()">
  </cas-button-rectangle>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
  </div>

  <cas-button-rectangle [iconRight]="'arrow-forward-outline'" [size]="'small'" [text]="'Next'"
                        [disabled]="page + 1 > totalPages" (click)="nextPage()">
  </cas-button-rectangle>
</div>
