@import 'src/styles/variables';

.role-container {
  padding: 12px 24px;
  border-radius: 12px;

  color: $white;
  background: $content-background-dark;

  transition: filter 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px rgba($primary, 0.5));
  }

  .name, .description {
    font-size: 12px;
  }
}
