<div fxLayout="column" fxLayoutGap="24px">
  <cas-data-toolbar [searchFormControl]="searchFormControl"
                    [organizationFormControl]="organizationFormControl"
                    [viewFormControl]="viewFormControl">
  </cas-data-toolbar>

  <cas-users-table *ngIf="viewType === ViewType.TABLE"
                   [data]="data"
                   [requestParam]="requestParam"
                   [refresh]="refresh">
  </cas-users-table>

  <cas-users-list *ngIf="viewType === ViewType.LIST"
                   [data]="data"
                   [requestParam]="requestParam"
                   [refresh]="refresh">
  </cas-users-list>
</div>
