@import 'src/styles/variables';

.organization-tile {
  padding: 16px 24px;
  border-radius: 12px;

  color: $white;
  background: $content-background-dark;

  transition: filter 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px rgba($primary, 0.5));
  }

  .circle {
    width: 30px;
    height: 30px;
    background: $background-dark;
    border-radius: 50%;

    transition: filter 0.2s, background-color 0.2s ease-in-out;

    &.active {
      background: $primary;
      filter: drop-shadow(0 0 8px rgba($primary, 0.25));
    }
  }

  .name {
    font-size: 16px;
    font-weight: 500;
  }

  .description {
    font-size: 14px;
  }
}
