<div class="standard-container" fxLayout="column" fxLayoutGap="24px" @fadeInAnimation>

  <ng-container *ngIf="!editMode">
    <cas-organization-info-view [organization]="organization">
    </cas-organization-info-view>
  </ng-container>

  <ng-container *ngIf="editMode">
    <cas-organization-info-form [organization]="organization" [organizationForm]="organizationForm">
    </cas-organization-info-form>
  </ng-container>

  <cas-separator></cas-separator>

  <cas-resource-dates [resource]="organization"></cas-resource-dates>

  <cas-separator></cas-separator>

  <div class="column" fxLayoutGap="16px">
    <span>Organization resources</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <cas-button
      [iconLeft]="'user'"
      [theme]="selectedResource === ResourceType.USER ? 'primary' : 'dark'"
      (click)="selectResource(ResourceType.USER)">
      Users
    </cas-button>

    <cas-button
      [iconLeft]="'lock'"
      [theme]="selectedResource === ResourceType.ROLE ? 'primary' : 'dark'"
      (click)="selectResource(ResourceType.ROLE)">
      Roles
    </cas-button>

    <cas-button
      [iconLeft]="'key'"
      [theme]="selectedResource === ResourceType.PRIVILEGE ? 'primary' : 'dark'"
      (click)="selectResource(ResourceType.PRIVILEGE)">
      Privileges
    </cas-button>
  </div>
</div>
