<div class="table-container" fxLayout="column">

  <table *ngIf="columns" @fadeInAnimation>
    <thead>
    <tr>
      <th *ngFor="let column of columns">
        <div fxLayout="row" fxLayoutAlign="start center"
             [class.sortable]="column.sortable"
             (click)="onSortChange(column)">
          <span>{{column.label}}</span>

          <ion-icon name="chevron-up" class="icon"
                    @fadeInAnimation @fadeOutAnimation
                    [class.inverted]="requestParam.sort?.direction === 'DESC'"
                    *ngIf="requestParam.sort?.field === column.field">
          </ion-icon>
        </div>
      </th>

      <th *ngIf="actions.length > 0"></th>
    </tr>
    </thead>

    <tbody *ngIf="_data" @fadeInAnimation>
    <tr *ngFor="let row of _data.content; let i = index">
      <th *ngFor="let column of columns">
        <ng-container *ngIf="column.type == null">
          <span [ngClass]="column.badge ? 'badge ' + column.badge : ''">
            {{getFieldValue(row, column?.field)}}
          </span>
        </ng-container>

        <ng-container *ngIf="column.type == columnType.ACTIVITY">
          <span class="activity badge"
                [ngClass]="getFieldValue(row, column?.field).toString() == 'true' ? 'green' : 'orange'">
            {{getFieldValue(row, column?.field).toString() == 'true' ? 'Yes' : 'No'}}
          </span>
        </ng-container>

        <ng-container *ngIf="column.type == columnType.DATE">
          <span class="badge default">
            {{getFieldValue(row, column?.field) | date: 'dd-MM-YYYY, HH:mm:ss'}}
          </span>
        </ng-container>

        <ng-container *ngIf="column.type == columnType.ORGANIZATION">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <span class="avatar" fxLayoutAlign="center center">
              <ion-icon [name]="getFieldValue(row, 'icon')"></ion-icon>
            </span>

            <div fxLayout="column" fxLayoutGap="4px">
              <span>{{getFieldValue(row, 'name')}}</span>
              <span class="description">{{getFieldValue(row, 'description') }}</span>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="column.type == columnType.USER">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <span class="avatar" fxLayoutAlign="center center">
              <span>{{getUserInitials(row)}}</span>
            </span>

            <div fxLayout="column" fxLayoutGap="4px">
              <span>{{getUserName(row)}}</span>
              <span class="description">{{getFieldValue(row, 'email') }}</span>
            </div>
          </div>

        </ng-container>
      </th>

      <th *ngIf="actions.length > 0" fxLayoutAlign="end center">
        <cas-table-actions [actions]="actions" (actionActive)="onActionActive($event, row)"></cas-table-actions>
      </th>
    </tr>
    </tbody>

    <tfoot *ngIf="totalPages > 1" @fadeInAnimation>
    <tr>
      <td [colSpan]="columns.length + 1">
        <cas-table-pagination [pageSize]="requestParam.size"
                              [totalPages]="totalPages"
                              [reset]="paginationReset"
                              (pageChange)="onPageChange($event)">
        </cas-table-pagination>
      </td>
    </tr>
    </tfoot>

  </table>
</div>
