@import 'src/styles/variables';

.table-container {
  width: 100%;

  border: $border;
  border-radius: $radius-standard;
  background: $background-container;

  table {
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    thead {
      background: rgb(251, 251, 251);

      border-bottom: $border;
      border-radius: $radius-standard;

      th {
        position: relative;

        color: $color-dark;
        font-size: 12px;
        font-weight: 700;

        text-align: left;
        text-transform: uppercase;
        padding: 16px;

        .sortable:hover {
          cursor: pointer;
        }

        span {
          user-select: none
        }

        .icon {
          position: absolute;
          color: $color-dark;

          right: 16px;
          top: 18px;

          transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;

          &.inverted {
            transform: rotate(180deg);
            top: 18px;
          }
        }
      }
    }

    tbody {
      tr {
        height: 56px;

        &:hover {
          background: rgba($background-page, 0.5);
        }

        th {
          padding: 8px 16px;

          color: $color-dark;
          font-size: 13px;
          font-weight: 600;

          text-align: left;

          .activity:before {
            content: "• ";
            margin-right: 4px;
          }

          .organization-icon {
            height: 38px;
            width: 38px;

            font-size: 20px;
            font-weight: 700;

            background: $primary;
            color: $primary-dark;
            border-radius: 50%;
          }

          .description {
            font-size: 11px;
            color: rgba($color-light, 0.75);
            font-weight: 500;
          }
        }
      }
    }

    tfoot {
      border-top: $border;
    }
  }
}
