@import 'src/styles/variables';

.table-container {
  width: 100%;

  .filter-button {
    margin-top: 8px;
  }

  table {
    width: 100%;

    ::selection {
      color: $white;
      background: $background-dark;
    }

    th {
      background: $background-dark;
      border-radius: 8px;
    }

    thead {

      th {
        position: relative;

        color: $white;
        font-size: 20px;
        font-weight: 600;

        text-align: left;
        padding: 12px 12px;

        .sortable:hover {
          cursor: pointer;
        }

        span {
          user-select: none
        }

        .icon {
          position: absolute;
          right: 16px;

          color: $white;
          width: 16px;

          transition: transform 0.2s;

          &.inverted {
            transform: rotate(180deg);
          }
        }
      }
    }

    tbody {
      th {
        color: $white;
        font-size: 14px;
        font-weight: 400;

        text-align: left;
        padding: 6px 12px;

        background: rgba($background-dark, 0.5);
      }
    }
  }
}
