<div class="table-container" fxLayout="column" fxLayoutGap="16px">

  <table *ngIf="columns" @fadeInAnimation>
    <thead>
    <tr>
      <th *ngFor="let column of columns">
        <div fxLayout="row" fxLayoutAlign="space-between center"
             [class.sortable]="column.sortable"
             (click)="onSortChange(column)">
          <span>{{column.label}}</span>

          <i-feather name="arrow-up" class="icon"
                     @fadeInAnimation @fadeOutAnimation
                     [class.inverted]="requestParam.sort?.direction === 'DESC'"
                     *ngIf="requestParam.sort?.field === column.field">
          </i-feather>
        </div>
      </th>

      <th *ngIf="actions.length > 0">
        <span>Actions</span>
      </th>
    </tr>
    </thead>

    <tbody *ngIf="_data" @fadeInAnimation>
    <tr *ngFor="let row of _data.content; let i = index">
      <th *ngFor="let column of columns">
        <ng-container *ngIf="column.type == null">
          <span [ngClass]="column.badge ? 'badge ' + column.badge : ''">
            {{getFieldValue(row, column)}}
          </span>
        </ng-container>

        <ng-container *ngIf="column.type == columnType.DATE">
          <span [ngClass]="column.badge ? 'badge ' + column.badge : ''">
            {{getFieldValue(row, column) | date: 'dd-MM-YYYY, HH:mm:ss'}}
          </span>
        </ng-container>
      </th>

      <th *ngIf="actions.length > 0">
        <cas-table-actions [actions]="actions"
                           (actionActive)="onActionActive($event, row)">
        </cas-table-actions>
      </th>
    </tr>
    </tbody>
  </table>

  <cas-table-pagination [pageSize]="requestParam.size"
                        [totalPages]="totalPages"
                        [reset]="paginationReset"
                        (pageChange)="onPageChange($event)">
  </cas-table-pagination>
</div>
