<div fxLayout="column" fxLayoutGap="24px" @fadeInAnimation>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <cas-avatar [user]="user" [size]="'big'"></cas-avatar>

      <div fxLayout="column">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        <h3 class="color-light">{{user.email}}</h3>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
      <cas-button-rectangle [theme]="'primary'" [iconLeft]="'create-outline'"></cas-button-rectangle>
      <cas-button-rectangle [theme]="'secondary'" [iconLeft]="'trash-outline'"></cas-button-rectangle>
    </div>
  </div>
</div>
