@import 'src/styles/variables';

.user-icon {
  background: $primary;
  color: $primary-dark;

  font-size: 18px;
  font-weight: 600;

  padding: 16px;
  width: 56px;
  height: 56px;

  border-radius: $radius-rounded;
}
